<!DOCTYPE html>
<html>
<head>
  <title>Kratos</title>
  <%= stylesheet_link_tag    "kratos/application", media: "all" %>
  <%= javascript_include_tag "kratos/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
